.transition-score-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 32px;
}
.transition-stage{
  max-width: 640px;
  height: auto;
}
.transition-stage .transition-stage-prehead{
  font-family: "SofiaPro-Medium";
  color: var(--main-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
  max-width: 640px;
}
.symptoms-prehead{
  font-family: "SofiaPro-Medium";
  color: var(--main-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
  max-width: 640px;
}
.transition-stage-main-content{
  margin: 0 0 32px 0;
  display: flex;
  column-gap: 64px;
  align-items: flex-start;
}
.transition-score-container .transition-stage-scale{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 64px);
  padding: 48px 32px 32px;
  border: 1px solid var(--secondary-blue-20);
  border-radius: 16px;
  position: relative;
  max-width: 576px;
}
.transition-score-container .transition-stage-scale .transition-stage-scale-container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 48px;
}
.transition-score-container .transition-stage-scale .arrow{
  transform: rotate(-90deg);
  position: absolute;
  top: 7px;
  left: 0;
  transition: left 2s linear;
}
.transition-score-container .transition-stage-scale .top-arrow{
  position: absolute;
  right: 0;
  top: -7px;
}
.transition-score-container .transition-stage-scale .arrow.d-none{
  display: none;
}
.transition-score-container .transition-stage-scale .item{
  color: var(--main-grey);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.42px;
  overflow: visible;
  position: absolute;
  width: 12px;
  top: 0;
  padding-top: 26px;
  text-align: center;
}
.transition-score-container .transition-stage-scale .item.active{
  color: var(--main-blue);
}
.transition-score-container .transition-stage-scale .item:before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--secondary-blue-20);
  transition: background-color 0.2s linear;
}
.transition-score-container .transition-stage-scale .item.active:before{
  background-color: var(--main-blue);
  transition: background-color 0.2s linear;
}
.transition-score-container .transition-stage-scale .item.item1{
  left: 64px;
}
.transition-score-container .transition-stage-scale .item.item2{
  left: 64px;
}
.transition-score-container .transition-stage-scale .item.item1.active:before{
  transition-delay: 0s;
}
.transition-score-container .transition-stage-scale .item.item2.active:before{
  transition-delay: 750ms;
}
.transition-score-container .transition-stage-scale .item.item3.active:before{
  transition-delay: 1500ms;
}
.transition-score-container .transition-stage-scale .item.item4.active:before{
  transition-delay: 1800ms;
}
.transition-score-container .transition-stage-text{
  flex: 1;
}
.transition-score-container .transition-stage-text .transition-stage-prehead{
  font-family: "SofiaPro-Medium";
  color: var(--main-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.42px;
}
.transition-score-container .transition-stage-scale .line-small{
  width: 60px;
  height: 4px;
  background-color: var(--secondary-blue-20);
  position: relative;
  border-radius: 24px;
  left: 0;
}
.transition-score-container .transition-stage-scale .line-big{
  width: calc((100% - 200px)/3);
  height: 4px;
  background-color: var(--secondary-blue-20);
  position: relative;
  border-radius: 24px;
  left: 20px;
  top: 0;
}
.transition-score-container .transition-stage-scale .line-small span,
.transition-score-container .transition-stage-scale .line-big span{
  height: 100%;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--secondary-blue-80);
  transition: width 0.5s linear;
  border-radius: 24px;
}
.transition-score-container .transition-stage-scale .line-big span.active{
  transition: width 0.5s linear;
  width: 100%
}
.transition-score-container .transition-stage-scale .line-small span.active{
  transition: width 0.25s linear;
  width: 100%
}
.transition-stage-main-content .transition-stage-text .transition-stage-title{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.72px;
  margin: 0 0 24px;
}
.transition-stage-main-content .transition-stage-text .transition-stage-description{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.transition-stage-description p{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin: 0 0 24px 0;
}
.transition-stage-description p:last-child{
  margin: 0;
}
.transition-stage-main-content .transition-stage-text .transition-stage-description a{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  text-decoration: underline;
}
.transition-score .transition-stage-stats,
.transition-stage .transition-stage-stats{
  border-radius: 16px;
  background-color: #F5F6F8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
}
.transition-score .transition-stage-stats .percent,
.transition-stage .transition-stage-stats .percent{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.84px;
}
.transition-score .transition-stage-stats .text,
.transition-score .transition-stage-stats .text a,
.transition-stage .transition-stage-stats .text,
.transition-stage .transition-stage-stats .text a{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.42px;
}
.transition-score .transition-stage-stats .text a,
.transition-stage .transition-stage-stats .text a{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.transition-stage-explanation{
  color: var(--main-grey);
  font-family: "SofiaPro-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.18px;
  margin: 0;
  padding-bottom: 48px;
  border-bottom: 1px solid #D8DBE4;
}
.transition-score .transition-stage-action-buttons,
.transition-stage .transition-stage-action-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
}
.transition-score .transition-stage-action-buttons.transition-score-action-buttons{
  margin-bottom: 32px;
  margin-top: 32px;
}
.transition-stage .transition-stage-action-buttons .button,
.transition-score .transition-stage-action-buttons .button{
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 990px){
  .transition-score .transition-stage-stats,
  .transition-stage .transition-stage-stats{
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
  }
  .transition-score .transition-stage-stats .percent,
  .transition-stage .transition-stage-stats .percent{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.84px;
  }
  .transition-score .transition-stage-stats .text,
  .transition-score .transition-stage-stats .text a,
  .transition-stage .transition-stage-stats .text,
  .transition-stage .transition-stage-stats .text a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.42px;
  }
  .transition-stage-explanation{
    padding-bottom: 32px;
  }
}
.transition-score{
  max-width: 640px;
  height: auto;
  margin-top: 16px;
}
.transition-score .score-circle{
  margin-bottom: 32px;
}
.transition-score .score-circle text{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 105.556% */
  letter-spacing: -0.36px;
}
.transition-score .score-circle text:last-of-type{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.21px;
}
@media screen and (min-width: 990px){
  .transition-score{
    margin-top: 32px;
  }
  .transition-score .transition-stage-action-buttons.transition-score-action-buttons{
    margin-bottom: 48px;
  }
}
#symptoms{
  margin-top: 32px;
}
#symptoms.d-none{
  display: none;
}
#symptoms .intro{
  margin-bottom: 0;
}
#symptoms .intro h2{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
  margin: 0 0 16px 0;
}
#symptoms .intro .intro-text{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.54px;
}
#symptoms .action-buttons{
  display: flex;
  gap: 8px;
  background-color: #FFF;
  padding: 32px 0 24px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
#symptoms  .action-buttons .button{
  font-family: "SofiaPro-Medium";
  padding: 8px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  outline: 0;
}
.more-link.button.button--secondary{
  padding: 8px 16px 8px 24px;
}
#symptoms  .action-buttons .button.button--secondary{
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
}
#symptoms  .action-buttons .button.button--secondary:hover{
  background-color: #FFF;
  color: var(--main-blue);
}
.simptoms-recommendations{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 640px;
}
.simptoms-recommendations .symptom{
  border-bottom: 1px solid var(--tint-stone-50);
  padding: 0 0 32px 0;
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.simptoms-recommendations .symptom.d-none{
  display: none;
}
.simptoms-recommendations .symptom.symptom0{
  margin-top: 16px;
}
.simptoms-recommendations .symptom.alert{

}
.simptoms-recommendations .symptom.alert .name,
.simptoms-recommendations .symptom.alert .description,
.simptoms-recommendations .symptom.alert a{
  color: var(--main-pink);
}
.simptoms-recommendations .symptom .name{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin: 0 0 16px 0;
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.simptoms-recommendations .symptom .description{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin: 0 0 32px 0;
}
.simptoms-recommendations .symptom a:not(.button){
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: left;
}
.simptoms-recommendations .symptom a.button{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 16px 8px 24px;
}
.simptoms-recommendations .symptom a.button.whatsapp{
  background-color: #25D366;
  color: #FFF;
  border-color: #25D366;
  padding: 8px 16px;
}
.simptoms-recommendations .symptom a.button svg{
  width: 16px;
  height: 16px;
}
.simptoms-recommendations .symptom a.button span{
  position: relative;
  top: -1px;
}
.transition-score-container .box#whats_next{
  background-color: var(--main-blue);
}
.transition-score-container .box{
  border: 1px solid var(--secondary-blue-20);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  column-gap: 64px;
  align-items: flex-start;
}
.transition-score-container .box .title{
  color: var(--main-blue);
  font-family: "SofiaPro-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
  margin: 0 0 24px 0;
  width: 100%;
  max-width: 320px;
}
.transition-score-container .box#whats_next .title{
  color: #FFF;
}
.transition-score-container .box .description{
  color: var(--secondary-blue-80);
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}
.transition-score-container .box#whats_next .description ul{
  color: #FFF;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.transition-score-container .box#whats_next .description ul li{
  background-color: transparent;
  padding: 0 0 0 28px;
  font-family: "SofiaPro-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin-bottom: 4px;
  background-image: url('../assets/check.svg');
  background-repeat: no-repeat;
  background-position: top 3px left;
}
a.button.whatsapp{
  background-color: #25D366;
  color: #FFF;
  border-color: #25D366;
  padding: 8px 16px;
  font-family: 'SofiaPro-Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  gap: 8px;
}
@media screen and (min-width: 990px){
  .transition-score-container .box#whats_next{
    justify-content: space-between;
    column-gap: 12px;
  }
  .transition-score-container .box#whats_next .description ul{
    width: 480px;
  }
  .transition-score-container .box#whats_next .description ul li{
    background-image: url('../assets/checked-circled.svg');
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.42px;
    margin-bottom: 12px;
  }
  .simptoms-recommendations .symptom.symptom0{
    margin-top: 24px;
  }
}
.transition-score-container .box#whats_next .description ul li:last-child{
  margin-bottom: 0;
}
.transition-score-container .box .actions{
  display: flex;
  column-gap: 8px;
  margin-top: 24px;
  flex-wrap: wrap;
  row-gap: 16px;
}
.transition-score-container .box .info-box{
  padding: 24px;
  background-color: #F5F6F8;
  border-radius: 16px;
  min-width: 192px;
}
.transition-score-container .box .info-box .stats{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.96px;
  margin: 0 0 8px 0;
}
.transition-score-container .box .info-box .stats-desc{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
@media screen and (min-width: 990px){
  .transition-score-container .box#whats_next .info-box{
    width: 192px;
  }
  .transition-score-container .box .actions{
    margin-top: 32px;
  }
}
.transition-score-container .box .info-box-dr{
  width: 240px;
  border-radius: 24px;
}
.transition-score-container .box .info-box-dr>img{
  width: 100%;
  min-width: 240px;
  border-radius: 24px 24px 0 0;
  display: block;
}
.transition-score-container .box .info-box-dr .dr-info{
  padding: 24px;
  background-color: #F5F6F8;
  border-radius: 0 0 24px 24px;
}
.transition-score-container .box .info-box-dr .dr-info .dr-name{
  color: var(--main-blue);
  font-family: "SofiaPro-SemiBold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.54px;
  margin: 0 0 8px 0;
}
.transition-score-container .box .info-box-dr .dr-info .dr-desc{
  color: var(--main-blue);
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
.transition-score-container .box .button{
  padding: 8px 16px;
  font-family: "SofiaPro-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.42px;
}
.transition-stage-scale-mobile{
  display: none;
}
.results .topic-header{
  display: none;
}
.results{
  width: 100%;
}
@media screen and (max-width: 989px){
  .results .topic-header{
    padding: 0 0 40px 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    transform: translateX(0);
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 749px){
  .transition-score-container .box{
    padding: 24px;
    flex-direction: column;
    row-gap: 32px;
  }
  .transition-score-container .box#book_call{
    margin-bottom: 64px !important;
  }
  .transition-stage{
    border: 0;
  }
  .transition-stage-main-content{
    flex-direction: column;
    row-gap: 32px;
  }
  .transition-score-container .transition-stage-scale{
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .transition-score-container .box .info-box-dr{
    width: 100%;
  }
  .transition-score-container .box .description{
    color: var(--main-blue);
  }
  .simptoms-recommendations .symptom:last-child{
    margin-bottom: 16px;
  }
  #symptoms{
    margin-top: 16px;
  }
  #symptoms .intro{
    margin-bottom: 16px;
  }
  #symptoms .intro .intro-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
  #symptoms .action-buttons{
    padding: 24px 0;
  }
  .transition-stage-main-content{
    margin: 0 0 24px 0;
  }
  .transition-stage-main-content>svg{
    margin: 0 auto;
  }
  .transition-stage-main-content .transition-stage-text .transition-stage-title{
    margin: 0 0 16px 0;
  }
  .transition-stage-scale-mobile{
    background-color: var(--main-blue);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% - 48px);
  }
  .transition-stage-scale-mobile .bubble{
    padding: 8px 24px;
    background-color: #FFF;
    border-radius: 8px;
    position: relative;
    color: var(--main-blue);
    font-family: "SofiaPro-Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
    margin-top: 12px;
  }
  .transition-stage-scale-mobile .bubble:before{
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-bottom: 8px solid #FFF;

  }
}